* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
    'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

#search-box {
  font: inherit;
  padding: 8px;
  max-width: 320px;
  margin-bottom: 16px;
}

ul {
  list-style: none;
  padding: 0;
}

.category {
  display: inline-block;
  font-weight: 700;
  margin-right: 5px;
  margin-top: 0;
  margin-bottom: 5px;
}

.single-country {
  font-size: larger;
}

.single-country > p {
  margin-top: 0;
  margin-bottom: 5px;
}

.country-item {
  display: flex;
  align-items: center;
}

.country-item image {
  display: block;
  object-fit: contain;
  object-position: 50%;
}

.country-item span {
  font-size: larger;
  margin-left: 7px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.country-name {
  display: inline-flex;
  font-size: xx-large;
  font-weight: 700;
}
.country-name p {
  margin-left: 10px;
}

.country-languages-list {
  display: inline-flex;
}
.country-languages-item:not(:first-child)::before {
  content: ', ';
}
